body {
    background: linear-gradient(to right, red,yellow, blue);
    font-family: 'Archivo Black', sans-serif;
}

input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: rgb(120, 119, 119);
    color: white;
    border: none;
}

.iesmins {
    display: flex;
    flex-direction: row;
}